body{
    height:100%;
    background-color: rgb(156, 187, 228);
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(93, 137, 168);
    display: grid;
    width: 400px;
    height:600px;
    grid-gap: 10px;
    border: 3px solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 70px;
}

.display{
    display: flex;
    flex-direction: column;
    grid-area: 1/1/2/5;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    font-size: 40px;
    font-style: bold;
    height:fit-content;
    min-height:126px;
    width:400px;
    overflow-wrap: break-word;
   }

.up, .down{
    height:fit-content;
    min-height:63px;
    width: 380px;
    text-align: end;
}

.up{
    padding-top: 20px;
    font-size:30px;
}

button{
    border: 3px solid;
    background-color: white;
    border-radius: 10px;
    font-size: 40px;
    font-style: bold;
}

button:hover {
    background-color: rgb(221, 215, 215);
}

#clearBtn{
    background-color: rgb(230, 162, 162);
    grid-area: 2/1/3/3;
    font-size: 25px;
    }

#clearBtn:hover{
    background-color: rgb(199, 139, 139);
}

#deleteBtn{
    background-color: rgb(182, 159, 204);
    grid-area: 2/3/3/5;
    font-size: 25px;
}

#deleteBtn:hover{
    background-color: rgb(151, 131, 170)
}